@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
body{
    font-size: large;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    /* bakgrunnsbilde hentet fra: https://freefrontend.com/css-background-patterns/ */
    background-image: url("../img/background.png");
}
/* mesteparten av grid og flexbox brukt her er inspirert/hentet fra grid og flexbox videon i webtricks lms */
#grid-container{
    display: grid;
    grid-template-areas:    "header header header"
                            "main main main"
                            "aside aside aside"
                            "footer footer footer";
    grid-gap: 10px;
    /* fikse footer sånn at det ligger  og fyller ut helt nederst på sida 
    kode hentet fra: https://dev.to/nehalahmadkhan/how-to-make-footer-stick-to-bottom-of-web-page-3i14 */
    min-height: 100vh;
}

header{
    grid-area: header;
    
}

#logo{
    width: 30%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom-style: solid;
    /* bilde hentet fra: bildebank */
    background-image: url('../img/header.jpg');
}

nav ul{
    padding: 20px;
    background-color: black;
}

nav ul li {
    display: inline-block;  
    padding: 5px;
    font-size: 24px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main{
    grid-area: main;
   
}
/* Kilde: https://stackoverflow.com/questions/56375122/create-responsive-table-using-flexbox */
.cms-tabell {
    display: grid; /* Gjør tabellen om til et eget grid */
    grid-template-columns: repeat(4, 1fr); /* lager/repeterer 4 kolonner i gridden som har størrelse verdi på 1 fraction unit  */
    grid-template-rows: repeat(4, 1fr); /* det samme skjer her med radene*/
    grid-auto-flow: column; /* starter/teller hvert grid boks i retningen mot kolonne (column)*/
    border: 1px solid black;
    background-color: white;
    margin: auto; /* legger div i midten */
  }

.uuseo-tabell{
    display: grid; /* Gjør tabellen om til et eget grid */
    grid-template-columns: repeat(3, 1fr); /* lager/repeterer 3 kolonner i gridden som har størrelse verdi på 1 fraction unit  */
    grid-template-rows: repeat(3, 1fr); /* det samme skjer her med radene*/
    grid-auto-flow: column; /* starter/teller hvert grid boks i retningen mot kolonne (column) */
    border: 1px solid black;
    background-color: white;
    margin: auto; /* legger div i midten */    
  }

  .analyse-tabell{
    display: grid; /* Gjør tabellen om til et eget grid */
    grid-template-columns: repeat(2, 1fr); /* lager/repeterer 2 kolonner i gridden som har størrelse verdi på 1 fraction unit (Utseendesvis så ser det ut som det er 2 rader og 5 kolonner men gjorde det for å holde table headers på plass) */
    grid-template-rows: repeat(5, 1fr); /* lager/repeterer 5 rader i gridden som har størrelse verdi på 1 fraction unit  */
    grid-auto-flow: column; /* starter/teller hvert grid boks i retningen mot kolonne (column) */
    border: 1px solid black;
    background-color: white;
    margin: auto; /* legger div i midten */ 
    
  }
  
.kolonne {
    display: contents;
    border: 1px solid black;
  }
  
  
.celle {
    border: 1px solid black;
    padding: 5px;
  }

  .celle p {
    font-size: 16px;
    text-align: left;
  }

  .kilder li{
    padding-top: 10px;
  }

  .wcag{
    margin-bottom: 3rem;
  }

  .wcag li{
    padding-top: 10px;
    margin-left: 1rem;
  }

.table-header{
    border: 1px solid black;
    padding: 5px;
    font-weight: bold;
  }

  /* Style all font awesome icons */
  /* hentet fra: https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    float: right;
  }
  
  
  .fa:hover {
    opacity: 0.7;
  }
  
 
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-pinterest {
    background: #cb2027;
    color: white;
  }

aside{
    grid-area: aside;
}

.flex-container{
    display: flex;
   /* flex-wrap: wrap; */
    justify-content: space-around;
}

/* gjør bildene responsivt
kode hentet fra: https://www.w3schools.com/howto/howto_css_image_responsive.asp */
img{
    max-width: 100%;
    height: auto;
}

article{
    width: 25%;
    background-color: rgb(189, 184, 184);
    padding: 20px;
    border-style: solid;
}

.main-article{
    margin: auto;
    width: 97%;
    background-color: burlywood;
    text-align: center;
}

.main-article p{
   text-align: left;
   width: 60%;
   margin-left: 4rem;
    padding: 0.5rem;
    
}

.main-article ol{   
    padding: 15px;
}

.main-article h3{
    text-align: left;
    margin-left: 4rem;
}
.main-article h4{
    margin-left: 2rem;
    text-align: left;
}

.main-article ul{
  text-align: left;
  font-size: 16px;
}

h5{
    text-align: left;
    margin-left: 1rem;
}

#synlighet-liste{
    margin-left:4rem ;
}

.tabell-liste{
    margin-left: 0rem;
}

#synlighet{
    text-align: left;
    margin-left: 4rem;
}

footer{
    grid-area: footer;
    background-color: white;
    border-top-style: solid;
    padding: 1rem;
}

.mobile-header{
    display: none;
}

.kontakt-article{
    width: 40%;
}

input{
    height: 20px;
    margin-bottom: 10px;
}

textarea{
    width: 70%;
    height: 100px;
}



/*Gjøre iframe responsivt kode hentet fra: https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */
.iframe-container{
    position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  aside p{
    font-size: medium;
  }

/* hentet fra: https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp */
/* Mobil: */
@media only screen and (max-width: 782px){

body{
    font-size: larger;
}

.cms-tabell{
    display: flex;  
    flex-wrap: wrap;
    grid-auto-flow: row;
}

.uuseo-tabell{
    display: flex;
    flex-wrap: wrap;
}

.analyse-tabell{
    display: flex;
    flex-wrap: wrap;
}

.mobile-header{
    display: block;
}

.table-header{
    display: none;
}

article{
    width: 100%;
}

.main-article p{
    width: 80%;
}

.main-article ol{
    font-size: large;
}

nav{
    width: 100%;
}

footer{
    width: 100%;
}

.celle{
    width: 100%;
}

.kontakt-article{
    width: 100%;
}

textarea{
    width: 90%;
}

input{
    width: 50%;
}

aside p {
    font-size: 15px;
}
}

@media only screen  and (max-width: 680px){
    aside p {
       display: none;

    }

    #logo{
        width: 50%;
    }
  
}

/* Nettbrett: */
@media only screen and (min-width: 782px) and (max-width: 1024px){

body{
    font-size: larger;
}

}


